<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RocketWar</title>

    <style>

#overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Transparenter Hintergrund */
            display: none; /* Standardmäßig unsichtbar */
            justify-content: center;
            align-items: center;
        }

        #overlay p {
            color: white;
            font-size: 24px;
        }

        
        canvas {
            display: block;
            background-color: rgba(0, 0, 0, 0.8);
            margin: 0 auto;
    }
    </style>

    <Script>
        let KEY_SPACE = false;// 32
        let KEY_UP = false;// 38
        let KEY_DOWN = false;// 40
        let canvas;
        let ctx;
        let backgroundimage = new Image();
        let hits = 0;
        let highscore = 0;
        let gameRunning = true;
        
        let rocket = {
            x: 50,
            y: 200,
            width: 150,
            height: 65,
            src:'BilderSpiel/rocket.png'
        }

        let ufos = []; 

        let Schüsse = [];

        


        document.onkeydown =function(e) {
            if (e.keyCode == 32) {// Leertaste gedrückt
                KEY_SPACE = true;
            }
            if (e.keyCode == 38) {// Nach oben gedrückt
                KEY_UP = true;
            }
            if (e.keyCode == 40) {// Nach unten gedrückt
                KEY_DOWN = true;
            }
            
        };   


        document.onkeyup =function(e) {
            if (e.keyCode == 32) {// Leertaste Losgelassen
                KEY_SPACE = false;
            }
            if (e.keyCode == 38) {// Nach oben losgelassen
                KEY_UP = false;
            }
            if (e.keyCode == 40) {// Nach unten Losgelassen
                KEY_DOWN = false;
            }
        }

        function startGame(){
            canvas = document.getElementById('canvas');
            ctx = canvas.getContext('2d');
            const overlay = document.getElementById('overlay')
            loadImages();
            document.addEventListener('keydown', function (event)
            {if(event.key === 'f'|| event.key === 'F'){
                toggleFullScreen();
            }});
            setInterval(update, 1000 / 25);
            setInterval(createufos, 5000);
            setInterval(checkcollision, 1000 / 100);
            setInterval(createSchuss, 1000 / 25);
            draw();
            //calculate
        }

        function showYouLostMessage(){
            overlay.style.display = 'flex';
        }

        function hideYouLostMessage(){
            overlay.style.display = 'none'
        }

        function toggleFullScreen() {
            if (!document.fullscreenElement) {
        // Wenn das Dokument nicht im Vollbildmodus ist, versuchen Sie, es zu aktivieren
        document.documentElement.requestFullscreen();
        } else {
        // Andernfalls versuchen Sie, den Vollbildmodus zu beenden
        if (document.exitFullscreen) {
            document.exitFullscreen();
        }
    }
        }

        function checkcollision() { 
            let rocketHit = false;
         ufos.forEach(function(ufo) {
        if (rocket.x + rocket.width > ufo.x &&
            rocket.y + rocket.height > ufo.y &&
            rocket.x < ufo.x &&
            rocket.y < ufo.y) {
            rocket.img.src = 'BilderSpiel/explosion.png';
            console.log('collision!!!');
            ufos = ufos.filter(u => u != ufo);
            hits++;
            rocketHit = true;

            // Überprüfen, ob der aktuelle Trefferzähler den Highscore überschreitet
            if (hits > highscore) {
                highscore = hits;
            }

            
            
            
        }
    });

    Schüsse.forEach(function(Schuss) {
        ufos.forEach(function(ufo) {
            if (Schuss.x + Schuss.width > ufo.x &&
                Schuss.y + Schuss.height > ufo.y &&
                Schuss.x < ufo.x + ufo.width &&
                Schuss.y < ufo.y + ufo.height) {
                ufo.img.src = 'BilderSpiel/explosion.png';
                console.log('Kill!!');
                ufos = ufos.filter(u => u != ufo);
                Schüsse = Schüsse.filter(v => v != Schuss);
                hits++;

                // Überprüfen, ob der aktuelle Trefferzähler den Highscore überschreitet
                if (hits > highscore) {
                    highscore = hits;
                }
                

                
            }
        });
    });

    function showRestartMenu(){
        const userResponse = window.confirm('Play again?');
        if (userResponse){
            resetGame();
        }
        else{
            window.alert('Thanks for Playing')
        }
    }

    function resetGame(){
        rocket.x = 50;
        rocket.y = 200;
        rocket.img.src = 'BilderSpiel/rocket.png'
        hits = 0;
        ufos = [];
        Schüsse = [];
        gameRunning = true;

        hideYouLostMessage();
    }

    



        updateScoreDisplay();
        if(rocketHit){
            showYouLostMessage();
            setTimeout(function(){
                hideYouLostMessage();
                showRestartMenu();
            }, 2000);
        }
        }
        function updateScoreDisplay(){
     // Hier können Sie den Score im Canvas aktualisieren
    ctx.fillStyle = 'white';  // Farbe des Texts
    ctx.font = '20px Arial';  // Schriftart und Größe anpassen
    ctx.fillText('Hits: ' + hits + '| Highscore: ' + highscore, 10, 30);  // Position des Texts im Canvas
    
    }
        

        function createSchuss(){
            if(KEY_SPACE) {
            let Schuss = {
                x: rocket.x + 110,
                y: rocket.y + 22,
                width: 50,
                height: 25,
                src: 'BilderSpiel/bullet.png',
                img: new Image()
            };
            Schuss.img.src = Schuss.src;
            Schüsse.push(Schuss);
        }
        }

        function createufos(){
            let ufo = {
                x: canvas.width, 
                y: Math.random() * (canvas.height - 85),
                width: 150,
                height: 85,
                src: 'BilderSpiel/ufo.png',
                img: new Image()
            };
            ufo.img.src = ufo.src;
            ufos.push(ufo);
        }

        function update(){
            if(gameRunning){
                if(KEY_UP){
                    rocket.y -= 4;
                }

                if(KEY_DOWN){
                    rocket.y += 4;
                }
                
                ufos.forEach(function(ufo){
                    if(!ufo.hit){
                    ufo.x -= 5 ;   
                }
            });
        }
                
    
                Schüsse.forEach(function(Schuss){
                        Schuss.x += 15
                });

    if (rocket.x < 0) {
        rocket.x = 0;
    }
    if (rocket.x + rocket.width > canvas.width) {
        rocket.x = canvas.width - rocket.width;
    }
    if (rocket.y < 0) {
        rocket.y = 0;
    }
    if (rocket.y + rocket.height > canvas.height) {
        rocket.y = canvas.height - rocket.height;
    }

    if (ufo.x < 0) {
        ufo.x = 0;
    }
    if (ufo.x + ufo.width > canvas.width) {
        ufo.x = canvas.width - ufo.width;
    }
    if (ufo.y < 0) {
        ufo.y = 0;
    }
    if (ufo.y + ufo.height > canvas.height) {
        ufo.y = canvas.height - ufo.height;
    }

    if (Schuss.x < 0) {
        Schuss.x = 0;
    }
    if (Schuss.x + Schuss.width > canvas.width) {
        Schuss.x = canvas.width - Schuss.width;
    }
    if (Schuss.y < 0) {
        Schuss.y = 0;
    }
    if (Schuss.y + Schuss.height > canvas.height) {
        Schuss.y = canvas.height - Schuss.height;
    }
                }

        function loadImages(){
            backgroundimage.src = 'BilderSpiel/stars.jpg';
            rocket.img = new Image();
            rocket.img.src = rocket.src;
           
        }
        
        function draw(){
            ctx.drawImage(backgroundimage, 0, 0);
            ctx.drawImage(rocket.img, rocket.x, rocket.y, rocket.width, rocket.height);
            
            ufos.forEach(function(ufo){
            ctx.drawImage(ufo.img, ufo.x, ufo.y, ufo.width, ufo.height);
            });

            Schüsse.forEach(function(Schuss){
            ctx.drawImage(Schuss.img, Schuss.x, Schuss.y, Schuss.width, Schuss.height);
            });

            updateScoreDisplay();

            requestAnimationFrame(draw);
        }


    </Script>

</head>
<body onload="startGame()"> 
    
<canvas id="canvas" width="1280" height="854"></canvas>
        
    <div id="overlay"><p>You lost!</p></div>
    
</body>
</html>
